@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');

*{
  font-family: 'Hind', sans-serif;
  box-sizing: border-box;
}

*:focus {
    outline: none !important;
}

.MyLogo{
  max-height: 3.5rem;
}

.Rogerio_photo {
  box-shadow: 20px 20px #c7c7c7;
}


.form-group input {
    
  background-color: transparent !important;
  border-bottom: 2px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  outline: transparent !important;
  
}

.form-group input:hover {
border-bottom: 2px solid #a83535; 
}


.form-group textarea {
    
  background-color: transparent !important;
  border-bottom: 2px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0; 
}
.form-group textarea:hover {
    border-bottom: 2px solid #a83535; 
  
}


.form-group input::placeholder {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 300;
    outline: none !important;
}

.button-contact {
  width: 100% !important;
  height: 3em;
  border-radius: 30px;
  background-color: #000;
  color: #fff;
  outline: none !important;
}

